<div>
    <h2 id="page-heading">
        <span>Tenants</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tenant" [routerLink]="['/tenant/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Tenant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tenants">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>First Name</span></th>
            <th><span>Last Name</span></th>
            <th><span>Pesel</span></th>
            <th><span>Flat</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tenant of tenants ;trackBy: trackId">
                <td><a [routerLink]="['/tenant', tenant.id, 'view' ]">{{tenant.id}}</a></td>
                <td>{{tenant.firstName}}</td>
                <td>{{tenant.lastName}}</td>
                <td>{{tenant.pesel}}</td>
                <td>
                    <div *ngIf="tenant.flat">
                        <a [routerLink]="['../flat', tenant.flat?.id, 'view' ]" >{{tenant.flat?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tenant', tenant.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tenant', tenant.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tenant', { outlets: { popup: tenant.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
