<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tenant">
            <h2><span>Tenant</span> {{tenant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{tenant.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{tenant.lastName}}</span>
                </dd>
                <dt><span>Pesel</span></dt>
                <dd>
                    <span>{{tenant.pesel}}</span>
                </dd>
                <dt><span>Flat</span></dt>
                <dd>
                    <div *ngIf="tenant.flat">
                        <a [routerLink]="['/flat', tenant.flat?.id, 'view']">{{tenant.flat?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tenant', tenant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
