<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-charge-heading">Create or edit a Charge</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!charge.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_water">Water</label>
                    <input type="number" class="form-control" name="water" id="field_water"
                           formControlName="water"/>
                    <div *ngIf="editForm.get('water').invalid && (editForm.get('water').dirty || editForm.get('water').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('water').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('water')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_electricity">Electricity</label>
                    <input type="number" class="form-control" name="electricity" id="field_electricity"
                           formControlName="electricity"/>
                    <div *ngIf="editForm.get('electricity').invalid && (editForm.get('electricity').dirty || editForm.get('electricity').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('electricity').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('electricity')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gas">Gas</label>
                    <input type="number" class="form-control" name="gas" id="field_gas"
                           formControlName="gas"/>
                    <div *ngIf="editForm.get('gas').invalid && (editForm.get('gas').dirty || editForm.get('gas').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gas').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('gas')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_garbage">Garbage</label>
                    <input type="number" class="form-control" name="garbage" id="field_garbage"
                           formControlName="garbage"/>
                    <div *ngIf="editForm.get('garbage').invalid && (editForm.get('garbage').dirty || editForm.get('garbage').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('garbage').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('garbage')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tenant">Tenant</label>
                    <select class="form-control" id="field_tenant" name="tenant" formControlName="tenant">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tenantOption.id === editForm.get('tenant').value?.id ? editForm.get('tenant').value : tenantOption" *ngFor="let tenantOption of tenants; trackBy: trackTenantById">{{tenantOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
