<div>
    <h2 id="page-heading">
        <span>Charges</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-charge" [routerLink]="['/charge/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Charge
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="charges">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Water</span></th>
            <th><span>Electricity</span></th>
            <th><span>Gas</span></th>
            <th><span>Garbage</span></th>
            <th><span>Tenant</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let charge of charges ;trackBy: trackId">
                <td><a [routerLink]="['/charge', charge.id, 'view' ]">{{charge.id}}</a></td>
                <td>{{charge.water}}</td>
                <td>{{charge.electricity}}</td>
                <td>{{charge.gas}}</td>
                <td>{{charge.garbage}}</td>
                <td>
                    <div *ngIf="charge.tenant">
                        <a [routerLink]="['../tenant', charge.tenant?.id, 'view' ]" >{{charge.tenant?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/charge', charge.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/charge', charge.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'charge', { outlets: { popup: charge.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
