<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="charge">
            <h2><span>Charge</span> {{charge.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Water</span></dt>
                <dd>
                    <span>{{charge.water}}</span>
                </dd>
                <dt><span>Electricity</span></dt>
                <dd>
                    <span>{{charge.electricity}}</span>
                </dd>
                <dt><span>Gas</span></dt>
                <dd>
                    <span>{{charge.gas}}</span>
                </dd>
                <dt><span>Garbage</span></dt>
                <dd>
                    <span>{{charge.garbage}}</span>
                </dd>
                <dt><span>Tenant</span></dt>
                <dd>
                    <div *ngIf="charge.tenant">
                        <a [routerLink]="['/tenant', charge.tenant?.id, 'view']">{{charge.tenant?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/charge', charge.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
