<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-flat-heading">Create or edit a Flat</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!flat.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                    <div *ngIf="editForm.get('address').invalid && (editForm.get('address').dirty || editForm.get('address').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('address').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numberOfRooms">Number Of Rooms</label>
                    <input type="number" class="form-control" name="numberOfRooms" id="field_numberOfRooms"
                           formControlName="numberOfRooms"/>
                    <div *ngIf="editForm.get('numberOfRooms').invalid && (editForm.get('numberOfRooms').dirty || editForm.get('numberOfRooms').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numberOfRooms').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numberOfRooms')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_floor">Floor</label>
                    <input type="number" class="form-control" name="floor" id="field_floor"
                           formControlName="floor"/>
                    <div *ngIf="editForm.get('floor').invalid && (editForm.get('floor').dirty || editForm.get('floor').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('floor').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('floor')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="field_invoices">Invoice</label>
                    <select class="form-control" id="field_invoices" multiple name="invoices" formControlName="invoices">
                        <option [ngValue]="getSelected(editForm.get('invoices').value, invoiceOption)" *ngFor="let invoiceOption of invoices; trackBy: trackInvoiceById">{{invoiceOption.amount}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
