<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="flat">
            <h2><span>Flat</span> {{flat.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{flat.address}}</span>
                </dd>
                <dt><span>Number Of Rooms</span></dt>
                <dd>
                    <span>{{flat.numberOfRooms}}</span>
                </dd>
                <dt><span>Floor</span></dt>
                <dd>
                    <span>{{flat.floor}}</span>
                </dd>
                <dt><span>Invoice</span></dt>
                <dd>
                    <span *ngFor="let invoice of flat.invoices; let last = last">
                        <a [routerLink]="['/invoice', invoice?.id, 'view' ]">{{invoice.amount}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/flat', flat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
