<div>
    <h2 id="page-heading">
        <span>Flats</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-flat" [routerLink]="['/flat/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Flat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="flats">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Address</span></th>
            <th><span>Number Of Rooms</span></th>
            <th><span>Floor</span></th>
            <th><span>Invoice</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let flat of flats ;trackBy: trackId">
                <td><a [routerLink]="['/flat', flat.id, 'view' ]">{{flat.id}}</a></td>
                <td>{{flat.address}}</td>
                <td>{{flat.numberOfRooms}}</td>
                <td>{{flat.floor}}</td>
                <td>
                    <span *ngFor="let invoice of flat.invoices; let last = last">
                            <a class="form-control-static" [routerLink]="['../invoice', invoice?.id, 'view' ]">{{invoice.amount}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/flat', flat.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/flat', flat.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'flat', { outlets: { popup: flat.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
